<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-5">

      <div class="card shadow">
        <div class="card-header text-center">
          <h4>Login</h4>
        </div>

        <div class="card-body">

          <div *ngIf="successMessage" class="alert alert-success">
            {{ successMessage }}
          </div>

          <div *ngIf="errorMessage" class="alert alert-danger">
            {{ errorMessage }}
          </div>

          <form (ngSubmit)="onLogin()">

            <div class="mb-3">
              <label class="form-label">Email</label>
              <input
                type="email"
                class="form-control"
                name="email"
                [(ngModel)]="loginRequest.email"
                placeholder="Enter your email">
            </div>

            <div class="mb-3">
              <label class="form-label">Password</label>
              <input
                type="password"
                class="form-control"
                name="password"
                [(ngModel)]="loginRequest.password"
                placeholder="Enter password">
            </div>

            <button type="submit" class="btn btn-success w-100" [disabled]="isLoading">
              {{ isLoading ? 'Logging in...' : 'Login' }}
            </button>

          </form>

          <p class="text-center mt-3">
            New user?
            <a routerLink="/register">Register here</a>
          </p>

        </div>
      </div>

    </div>
  </div>
</div>